body {
  background-image: url("/src/assets/background.png");
  background-size: cover;
  font-family: "Poppins", "Courier New", Courier, monospace;
}

.navigation {
  background-color: transparent;
  color: white;
  position: absolute;
  top: 0;
  z-index: 900;
}

.navigation > .title {
  margin-left: 50px;
  cursor: pointer;
}

.card {
  text-align: center;
  width: 354px;
  height: 650px;
  color: white;
  background-size: cover;
}

.card-image {
  width: 320px;
  height: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -80px;
  background-size: cover;
}

.card-content {
  margin: 30px;
}

.token-title {
  text-align: center;
  font-size: large;
  font-weight: 600;
  margin-bottom: 10px;
}

.token-description {
  text-align: justify;
  text-justify: inter-word;
  font-size: small;
  font-weight: 100;
  margin-bottom: 20px;
}

.token-supply {
  font-size: small;
  font-weight: 100;
}

.token-supply > b {
  font-size: medium;
}

.card-action > div {
  cursor: pointer;
  border: 3px solid white;
  border-radius: 45px;
  height: 55px;
  color: white;
  margin: 30px;
}

.card-action > div > p {
  font-family: "Poppins";
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  line-height: 35px;
  margin: 10px;
}
